@import url('./Inter-UI/inter-ui.css');
@import url('./color.css');

* {
  font-family: 'Inter UI'
}

h1 { font-weight: 400; letter-spacing: -1.2px; padding: 0; margin: 0 }
h2 { font-weight: 400; letter-spacing: -1px; padding: 0; margin: 0; }
h3 { font-weight: 400; letter-spacing: -1px; padding: 0; margin: 0; }
h4 { font-weight: 400; letter-spacing: -1px; padding: 0; margin: 0; }
h5 { font-weight: 400; letter-spacing: -1px; padding: 0; margin: 0; }
h6 { font-weight: 400; letter-spacing: -1px; padding: 0; margin: 0; }

p { font-weight: 400; letter-spacing: -0.005em; margin: 0; padding: 0; padding-top: 21px; max-width: 650px; }
a, a:link, a:visited, a:hover, a:active { font-weight: 500; letter-spacing: -0.005em; margin: 0; padding: 0; padding-top: 21px; max-width: 650px; display: block; color: var(--accent-500); text-decoration: none; }

input[type=text] {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter UI';
  letter-spacing: -0.005em;
}

input[type=password] {
  font-size: 16px !important;
  font-weight: 600 !important;
  font-family: 'Inter UI' !important;
  letter-spacing: -0.005em !important;
}

input[type=button] {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter UI';
  letter-spacing: -0.005em;
}